@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device Breakpoints 
-------------------------
Pequenas telas: até 600px
Celular: de 600px até 768 px
Tables: de 768px até 992px
Desktop: de 992px até 1200px
Grandes Telas: acima de 1200px

*/

