@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device Breakpoints 
-------------------------
Pequenas telas: até 600px
Celular: de 600px até 768 px
Tables: de 768px até 992px
Desktop: de 992px até 1200px
Grandes Telas: acima de 1200px
*/

/* Pequenas telas */
@media (max-width: 600px) {
    main {
        margin-top: 5px;
    }
    main p {
        text-indent: 0;
        line-height: 1.2;
    }
    header {
        font-size: 1.2em;
    }
    h1 {
        font-size: 1.2em;
    }

}

/* Celular */
@media (min-width: 600px) and (max-width: 768px) {

    main p {
        text-indent: 15px;
    }

    main p {
        text-indent: 0;
        line-height: 1.2;
    }
    header {
        font-size: 1.2em;
    }
    h1 {
        font-size: 1.2em;
    }

}

/* Tablet */
@media (min-width: 768px) and (max-width: 992px) {

    body {
        max-width: 992px;
    }
    main {
        margin-top: 20px; /* Aumente a margem superior para tablets */
    }

    main p {
        font-size: 1.1em; /* Ajuste o tamanho da fonte para tablets */
    }

    th, td {
        padding: 10px; /* Aumente o preenchimento para tablets */
    }

    h1 {
        font-size: 1.5em; /* Ajuste o tamanho da fonte para tablets */
        padding: 5px; /* Aumente o preenchimento para tablets */
    }

    ul.lista, ol.lista {
        margin-top: 15px; /* Aumente a margem superior para tablets */
        margin-bottom: 15px; /* Aumente a margem inferior para tablets */
        padding-left: 30px; /* Aumente o recuo para tablets */
    }
}

/* Desktop */
@media (min-width: 992px) {
    body {
        max-width: 992px; /* Defina a largura desejada para a versão desktop */
        margin: 0 auto; /* Centralize o conteúdo horizontalmente */
        margin-top: 40px; /* Ajuste a margem superior para dispositivos desktop */
    }

    main p {
        text-indent: 30px; /* Ajuste o recuo de texto para dispositivos desktop */
    }

    .titulo > header {
        margin-top: 60px; /* Ajuste a margem superior para dispositivos desktop */
    }

    header > p {
        padding-top: 20px; /* Ajuste o preenchimento para dispositivos desktop */
    }

    th > p {
        text-align: left; /* Alinhe o texto à esquerda para dispositivos desktop */
    }

}




