@charset "UTF-8";

/* versão mobile first */

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1em;
    background-color: white;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    width: 100%;
    margin: 0;
    padding: 15px;
}

main {
    margin-top: 10px;
}

main p {
    margin: 5px 0px;
    text-align: justify;
    text-indent: 20px;
    line-height: 1.5;
}

header {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
}

section {
    width: 100%;
    overflow-x: auto;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

.titulo > th {
    background-color: lightgrey;
    color: grey;
}

.titulo > header {
    text-align: center;
}

header > p {
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: left;
}

th > p {
    color: gray;
    text-align: right;
}

thead > tr > th {
    background-color: lightgray;
    color: black;
}

tbody > tr > td {
    text-align: center;
}

h1 {
    font-size: 1.3em;
    font-weight: 600;
    padding: 3px;
}

ol > li, ul > li {
    margin-top: 9px;
}

.left {
    text-align: left;
}

footer {
    text-align: center;
    padding-top: 30px;
}

footer p {
    display: inline-block;
    padding: 5px;
}

footer hr {
    width: 100%;
}

ul.lista, ol.lista {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
}
